header{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: min(100%,80vh);
}

.hero{
  background-image: url(images/hero_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inherit;
  flex-direction: inherit;
  height: min(60%, 60vh);
  min-height: 400px;
}
.hero h1{
  display: inherit;
  flex-direction: inherit;
  justify-content: flex-end;
  flex: 1;
  padding: 0 0 2rem 0;
  margin-inline: auto;
}
.hero h3{
  flex: 1;
  color: black;
}
.hero h6{
  flex: 0;
}
.cta-container{
  display: flex;
  justify-content: center;
  margin: 2.5rem 1.5rem;
}
.cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 2rem;
  max-width: 900px;
  box-shadow: 0 0 .5rem .5rem rgba(255, 255, 255, 0.569);
  border-radius: 25px;

}
.cta h2{
  display: inherit;
  flex-direction: inherit;
  justify-content: flex-end;
  flex: .8;
}
.cta .button-container{
  margin: 1rem 0 1rem 0;

}
.cta button{
  /* line-height: 100%; */
  margin: 0 1rem 0 0;
  padding: .75rem 0;
  border-radius: 15px;
}

#dialog{
  height: 10rem;
  width: 10rem;
}
#dialog button{
  margin: 0;
  padding: 0;
}

